#contact {
  overflow: hidden;
  .contact-wrapper {
    min-height: 90vh;
    @include flex(row, center, space-around);

    flex-wrap: wrap;

    .form {
      flex-basis: 60rem;

      position: relative;
      form {
        width: 75%;
        .info-box {
          @include flex(column, none, none);
          margin-top: 5rem;

          input {
            margin-top: 2rem;
            border: 0.3rem solid $shoe-color1;
          }
          textarea {
            margin-top: 2rem;
            border: 0.3rem solid $shoe-color1;
          }
        }
        .info-box-message {
          input {
            line-height: calc(10rem + 10vmin);
          }
        }
        .button {
          @include flex(row, center, center);
          button {
            margin-top: calc(2rem + 2vmin);
            background: $shoe-color1;
            color: white;
            padding: 2rem 3rem;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        height: 140vh;
        width: 70vw;
        min-width: 70rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        display: block;
        background: $background-color2;
        z-index: -1;
      }
    }

    .title {
      @include flex(row, center, center);
      flex: 1 1 70rem;
    }
  }
}
