* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Russo One", sans-serif;
}

li {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: $header1;
  color: $shoe-color1;
}
h2 {
  font-size: $header2;
  color: $shoe-color1;
}

button {
  font-family: "Russo One", sans-serif;
  font-size: $button-font-size;
  border: none;
  cursor: pointer;
}
