.navbar {
  background: $background-color;

  nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    @include flex(row, center, flex-end);

    ul {
      @include flex(row, none, space-around);
      flex: 0.2 1 10rem;
    }

    .shopping {
      @include flex(row, none, center);

      .shopping-cart {
        height: 4rem;
        width: 5.5rem;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
