$header1: calc(5rem + 4vmin);
$header2: calc(4rem + 3vmin);

@import "globals";
@import "home";

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
