* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Russo One", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: calc(1.2rem + 1vmin);
  color: #636877;
}

p {
  color: white;
  font-size: calc(1.2rem + 1vmin);
}

h1 {
  font-size: calc(5rem + 3vmin);
}

h2 {
  font-size: calc(3.2rem + 2vmin);
}

h3 {
  font-size: calc(2rem + 1vmin);
}

button {
  font-family: "Russo One", sans-serif;
  font-size: calc(1rem + 1vmin);
  border: none;
  cursor: pointer;
}

#home .home-wrapper {
  background: #e5e5e5;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home .home-wrapper .info {
  padding: 2rem 0rem;
}

#home .home-wrapper .info h1 {
  color: #81363b;
}

#home .home-wrapper .info h2 {
  padding-top: calc(0.5rem + 1vmin);
  padding-bottom: calc(3rem + 4vmin);
  color: #81363b;
}

#home .home-wrapper .info .buttons button {
  padding: 2rem 3rem;
}

#home .home-wrapper .info .buttons .shop {
  background: #81363b;
  color: white;
  margin-right: calc(1rem + 3vmin);
}

#home .home-wrapper .info .buttons .learn {
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px 0.3rem #636877 inset;
          box-shadow: 0px 0px 0px 0.3rem #636877 inset;
  color: #636877;
}

#home .home-wrapper .image {
  height: auto;
  min-width: 30rem;
  width: 35%;
}

#home .home-wrapper .image img {
  width: 100%;
  height: 100%;
}

.navbar {
  background: #e5e5e5;
}

.navbar nav {
  min-height: 10vh;
  padding: 2rem 0rem;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2 1 10rem;
          flex: 0.2 1 10rem;
}

.navbar nav ul li {
  padding: 0rem 1rem;
}

.navbar nav .shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar nav .shopping p {
  padding: 1.2rem 2rem;
  border-radius: 3rem;
  background: #636877;
}

.navbar nav .shopping .shopping-cart {
  height: 4rem;
  width: 5.5rem;
}

.navbar nav .shopping .shopping-cart img {
  height: 100%;
  width: 100%;
}

#product {
  background: #2a2a2a;
}

#product .product-wrapper {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#product .product-wrapper .info {
  color: white;
}

#product .product-wrapper .info h2 {
  font-weight: lighter;
}

#product .product-wrapper .info h3 {
  font-weight: lighter;
}

#product .product-wrapper .image-content {
  background: rgba(196, 196, 196, 0.2);
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#product .product-wrapper .image-content .image {
  height: auto;
  width: 100%;
}

#product .product-wrapper .image-content .image img {
  height: 100%;
  width: 100%;
}

#product .product-wrapper .image-content .circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  padding-bottom: 3vmin;
}

#product .product-wrapper .image-content .circles .circle {
  text-align: center;
}

#product .product-wrapper .image-content .circles .circle svg {
  height: calc(50% + 8vmin);
  width: calc(50% + 8vmin);
}

#product .product-wrapper .image-content .circles .circle1 {
  fill: #ff444b;
}

#product .product-wrapper .image-content .circles .circle2 {
  fill: #8044ff;
}

#product .product-wrapper .image-content .circles .circle3 {
  fill: #44ff8f;
}

@media screen and (max-width: 1296px) {
  .navbar nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home .home-wrapper {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */